<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunt: Showdown - Outfitter</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="/vendor/materialdesignicons.5x/materialdesignicons.5.x.min.css" rel="stylesheet" />
    <link href="/vendor/vuetify.2.5.8.min.css" rel="stylesheet" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main class="ma-5">
          <v-container
            fluid
            class="fill-height"
          >
            <!-- Header -->
            <v-row
              justify="center"
              align="center"
              class="pb-2"
            >
              <div>
                <h1>Hunt: Showdown Outfitter</h1>
                <div class="warning--text caption">
                  <b>Be warned</b>: This program automates keyboard/mouse
                  input, which <b>can get you banned</b> by the anti-cheat system.
                </div>
                <div class="info--text caption">
                  Please use <b>Window Mode: Fullscreen</b> for best
                  results and equip from the <b>Roster > Overview</b>
                  screen only.
                </div>
              </div>
              <v-spacer></v-spacer>
              <div class="d-flex flex-column align-end">
                <div
                  v-if="currentFilepath"
                  class="caption grey--text mb-1"
                >
                  <v-btn
                    icon
                    x-small
                    title="Reset current filepath"
                    @click="resetCurrentFilepath()"
                  >
                    <v-icon color="error lighten-4">mdi-close</v-icon>
                  </v-btn>
                  {{ currentFilepath }}
                </div>
                <div class="d-flex flex-wrap">
                  <v-btn
                    icon
                    large
                    class="mr-2"
                    :class="editing.settings ? 'primary' : null"
                    title="Settings"
                    @click="toggleSettings()"
                  >
                    <v-icon :color="editing.settings ? 'white' : null">mdi-cog</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="currentFilepath"
                    icon
                    class="mr-2"
                    large
                    :title="'Save to current file: ' + currentFilepath"
                    @click="saveToCurrentFile()"
                  >
                    <v-icon>mdi-content-save</v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    class="mr-2"
                    large
                    title="Save as new File"
                    @click="exportToFile()"
                  >
                    <v-icon>mdi-file-export-outline</v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    class="mr-2"
                    large
                    title="Open File"
                    @click="importFromFile()"
                  >
                    <v-icon>mdi-file-import-outline</v-icon>
                  </v-btn>
                  <v-btn
                    icon
                    title="Check GitHub for updates: https://github.com/cb109/hunt_showdown_outfitter"
                    large
                    @click="openGitHubPageInDefaultBrowser()"
                  >
                    <v-icon>mdi-github</v-icon>
                  </v-btn>
                </div>
              </div>
            </v-row>
            <!-- Loading indicator -->
            <div
              v-if="loading"
              class="d-flex justify-center fill-height"
              style="width: 100%; margin-top: 100px;"
            >
              <v-progress-circular
                indeterminate
                color="primary"
                size="72"
                width="5"
              ></v-progress-circular>
            </div>
            <!-- Settings Overlay Page -->
            <v-row
              v-if="!loading && editing.settings"
              class="fill-height"
            >
              <v-col>
                <h2 class="mt-3">Settings</h2>
                <p>
                  In order to automate the inventory we need to know
                  where the item slots and some buttons are (X and Y
                  coordinates in pixels, depending on your <b>screen
                  resolution</b>).
                </p>
                <div class="d-flex align-center">
                  <div>
                    <h3 class="title">UI Element Coordinates</h3>
                    <p>You can tweak each coordinate pair here.</p>
                  </div>
                  <v-btn
                    outlined
                    rounded
                    color="secondary"
                    class="ml-4"
                    @click="estimate.dialog = true"
                  >
                    <v-icon left>mdi-ruler</v-icon>
                    Estimate coordinates
                  </v-btn>
                  <!-- Estimate Coordinates Dialog -->
                  <v-dialog
                    v-model="estimate.dialog"
                    width="400"
                    persistent
                  >
                    <v-card>
                      <v-card-title>Estimate UI Element Coordinates</v-card-title>
                      <v-card-text>
                        <p>
                          Based on internal samples we try to guess
                          the coordinates for your specific
                          resolution.
                        </p>
                        <div class="d-flex align-center">
                          <v-text-field
                            v-model="estimate.width"
                            type="number"
                            class="number-input mr-4"
                            label="Screen Width"
                            suffix="px"
                            hide-details
                            ></v-text-field>
                          <v-text-field
                            v-model="estimate.height"
                            type="number"
                            class="number-input"
                            label="Screen Height"
                            suffix="px"
                            hide-details
                          ></v-text-field>
                        </div>
                      </v-card-text>
                      <v-card-actions class="flex-column">
                        <div class="caption warning--text mb-3">
                          The estimated coordinates will overwrite your current values.
                        </div>
                        <div class="d-flex" style="width: 100%">
                          <v-btn
                            text
                            rounded
                            class="ml-auto mr-2"
                            @click="estimate.dialog = false"
                          >
                            Close
                          </v-btn>
                          <v-btn
                            rounded
                            color="primary"
                            @click="onEstimationDialogConfirmed()"
                          >
                            Estimate
                          </v-btn>
                        </div>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </div>
                <v-row
                  v-for="(block, blockIndex) in editing.settings.uiCoordinatesBlocks"
                  :key="'block-' + blockIndex"
                >
                  <v-col
                    v-for="itemSlotIndex in block.slots"
                    :key="'block-item-slot-' + itemSlotIndex"
                    cols="auto"
                  >
                    <div class="caption mb-2">
                      {{ itemSlotLabels[itemSlotIndex] }}
                    </div>
                    <div class="d-flex">
                      <v-text-field
                        v-model="editing.settings.uiCoordinates[itemSlotIndex].x"
                        label="X"
                        type="number"
                        class="mr-2"
                        style="max-width: 120px"
                        hide-details
                        suffix="px"
                        solo
                      ></v-text-field>
                      <v-text-field
                        v-model="editing.settings.uiCoordinates[itemSlotIndex].y"
                        label="Y"
                        type="number"
                        style="max-width: 120px"
                        hide-details
                        suffix="px"
                        solo
                      ></v-text-field>
                    </div>
                  </v-col>
                  <v-spacer></v-spacer>
                </v-row>
                <div
                  class="d-flex white"
                  style="
                    width: 100%;
                    position: fixed;
                    bottom: 24px;
                    right: 24px;
                  "
                >
                  <div class="d-flex align-center">
                    <v-btn
                      rounded
                      style="margin-left: 64px"
                      color="secondary"
                      @click="debugUiCoordinatesWithScreenshot(editing.settings.uiCoordinates)"
                    >
                      <v-icon left>mdi-image-outline</v-icon>
                      Debug with a Screenshot
                    </v-btn>
                    <div
                      v-if="$vuetify.breakpoint.mdAndUp"
                      class="ml-3 caption info--text"
                    >
                      Please use <b>Window Mode: Borderless</b> and go to Equipment first
                    </div>
                  </div>
                  <div class="ml-auto">
                    <v-btn
                      text
                      rounded
                      color="secondary"
                      @click="cancelSettings()"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      color="primary"
                      rounded
                      @click="saveSettings()"
                    >
                      Save Settings
                    </v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
            <!-- Main Page -->
            <v-row
              v-else-if="!loading"
              class="fill-height"
            >
              <!-- Left column -->
              <v-col
                cols="12"
                :sm="editing.loadout ? 6 : 6"
                :md="editing.loadout ? 5 : 6"
                :xl="editing.loadout ? 4 : 6"
              >
                <v-row align="center" class="mt-3 mb-4">
                  <h2>Loadouts</h2>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="addNewLoadout()">
                    <v-icon left>mdi-plus-thick</v-icon> Loadout
                  </v-btn>
                </v-row>
                <v-list>
                  <template v-for="(loadout, loadoutIndex) in sortedLoadouts">
                    <v-hover v-slot="{hover}">
                      <v-list-item
                        :key="'loadout-' + loadoutIndex"
                        title="Edit this Loadout"
                        @click="modifyLoadout(loadout)"
                      >
                        <v-list-item-content>
                          <v-list-item-title
                            :class="{'primary--text': editing.loadout && editing.loadout.id == loadout.id}"
                          >
                            {{ loadout.label }}
                          </v-list-item-title>
                          <v-list-item-subtitle
                            :class="{'primary--text': editing.loadout && editing.loadout.id == loadout.id}"
                          >
                            {{ loadout[1] }}<span v-if="loadout[1]">, </span>{{ loadout[2] }}
                          </v-list-item-subtitle>
                        </v-list-item-content>
                        <div
                          v-if="hover || (editing.loadout && editing.loadout.id == loadout.id)"
                          class="d-flex"
                        >
                          <v-btn
                            icon
                            color="primary"
                            title="Equip this Loadout"
                            @click.stop="equipLoadout(loadout)"
                          >
                            <v-icon>mdi-play</v-icon>
                          </v-btn>
                          <v-btn
                            icon
                            title="Duplicate this Loadout"
                            @click.stop="duplicateLoadout(loadout)"
                          >
                            <v-icon>mdi-content-copy</v-icon>
                          </v-btn>
                          <v-btn
                            icon
                            color="error"
                            title="Delete this Loadout"
                            @click.stop="askDeleteLoadout(loadout)"
                          >
                            <v-icon>mdi-delete-outline</v-icon>
                          </v-btn>
                        </div>
                      </v-list-item>
                    </v-hover>
                    <v-divider
                      v-if="loadoutIndex < loadouts.length - 1"
                      :key="'divider-' + loadoutIndex"
                    ></v-divider>
                  </template>
                </v-list>
              </v-col>
              <!-- Right column -->
              <v-col
                v-if="editing.loadout"
                cols="12"
                sm="6"
                md="7"
                xl="8"
              >
                <div
                  class="d-flex align-baseline justify-space-between mt-2 mb-2"
                >
                  <div class="title">
                      Name of Loadout
                  </div>
                  <v-btn
                    text
                    rounded
                    class="ma-0"
                    color="primary"
                    @click="equipLoadout(editing.loadout)"
                  >
                    <v-icon class="mr-2">mdi-play</v-icon> Equip this Loadout
                  </v-btn>
                </div>
                <v-row class="mb-3">
                  <v-col>
                    <!-- Label -->
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout.label"
                      placeholder="Name of Loadout"
                      hide-details
                      clearable
                      class="pt-0 mb-2"
                      @click:clear="editing.loadout.label = ''"
                    />
                  </v-col>
                </v-row>
                <!-- Weapons -->
                <div class="subtitle-2 mt-3 mb-3">Weapons</div>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[1]"
                      :label="itemSlotLabels[1]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 1)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 1)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[1]}"
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[2]"
                      :label="itemSlotLabels[2]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 2)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 2)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[2]}"
                    />
                  </v-col>
                </v-row>
                <!-- Tools -->
                <div class="subtitle-2 mt-3 mb-3">Tools</div>
                <v-row dense>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[3]"
                      :label="itemSlotLabels[3]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 3)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 3)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[3]}"
                    />
                  </v-col>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[4]"
                      :label="itemSlotLabels[4]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 4)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 4)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[4]}"
                    />
                  </v-col>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[5]"
                      :label="itemSlotLabels[5]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 5)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 5)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[5]}"
                    />
                  </v-col>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[6]"
                      :label="itemSlotLabels[6]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 6)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 6)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[6]}"
                    />
                  </v-col>
                </v-row>
                <!-- Consumables -->
                <div class="subtitle-2 mt-3 mb-3">Consumables</div>
                <v-row dense>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[7]"
                      :label="itemSlotLabels[7]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 7)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 7)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[7]}"
                    />
                  </v-col>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[8]"
                      :label="itemSlotLabels[8]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 8)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 8)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[8]}"
                    />
                  </v-col>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[9]"
                      :label="itemSlotLabels[9]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 9)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 9)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[9]}"
                    />
                  </v-col>
                  <v-col cols="12" md="6" xl="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[10]"
                      :label="itemSlotLabels[10]"
                      hide-details
                      clearable
                      solo
                      :title="tooltipItemSlot"
                      :prepend-icon="getLoadoutItemSlotPrependIcon(editing.loadout, 10)"
                      @click:prepend="onToggleLoadoutItemSlotIndexClicked($event, editing.loadout, 10)"
                      class="pt-0 mb-2"
                      :class="{'muted': editing.loadout.excludes && editing.loadout.excludes[10]}"
                    />
                  </v-col>
                </v-row>
                <v-row
                  style="
                    position: fixed;
                    bottom: 36px;
                    right: 36px;
                  "
                >
                  <div class="white">
                    <v-btn
                      text
                      rounded
                      color="secondary"
                      @click="cancelEditingLoadout()"
                    >
                      Cancel
                    </v-btn>
                    <v-btn
                      color="primary"
                      rounded
                      :disabled="!canSaveEditing"
                      @click="saveEditingLoadout()"
                    >
                      Save Loadout
                    </v-btn>
                  </div>
                </v-row>
              </v-col>
            </v-row>
            <!-- Feedback Snackbar -->
            <v-snackbar
              v-model="snackbar.show"
              :timeout="snackbar.timeout"
              :color="snackbar.color"
            >
              <v-icon class="mr-2">{{ snackbar.icon }}</v-icon>
              {{ snackbar.text }}

              <template v-slot:action="{ attrs }">
                <v-btn
                  color="white"
                  text
                  rounded
                  v-bind="attrs"
                  @click="snackbar.show = false"
                >
                  Close
                </v-btn>
              </template>
            </v-snackbar>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/vendor/vue.2.6.14.min.js"></script>
    <script type="text/javascript" src="/vendor/vuetify.2.5.8.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/estimator.js"></script>
    <script>

        const DEFAULT_LOADOUT = {
        1: 'Romero',
        2: 'Pax',
        3: 'Knuckle Knife',
        4: 'First Aid Kit',
        5: 'Fusees',
        6: 'Choke Bombs',
        7: 'Vitality Shot',
        8: 'Fire Bomb',
        9: 'Weak Antidote Shot',
        10: 'Flash Bomb',
        excludes: {
          // 1: true,
        },
        id: 1,
        label: "Romero + Pax",
      }

      const NEW_LOADOUT_TEMPLATE = {
        1: "",
        10: "",
        2: "",
        3: "",
        4: "",
        5: "",
        6: "",
        7: "",
        8: "",
        9: "",
        excludes: {
          // 1: true,
        },
        id: null,
        label: "A new loadout",
      };

      window.app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            currentFilepath: null,
            loading: false,
            estimate: {
              dialog: false,
              width: 1920,
              height: 1080,
            },
            settings: {
              uiCoordinatesBlocks: [
                {'slots': [1]},
                {'slots': [2]},
                {'slots': [3, 4, 5, 6]},
                {'slots': [7, 8, 9, 10]},
                {'slots': ['search_box', 'remove_filters_button', 'first_item_in_list']},
              ],
              uiCoordinates: deepCopy(uiCoordinatesEstimator.sampleUiCoordinates),
            },
            snackbar: {
              show: false,
              text: '',
              timeout: 1000,
              color: 'success',
            },
            editing: {
              loadout: null,
              settings: null,
            },
            itemSlotLabels: {
              '1': 'Weapon 1',
              '2': 'Weapon 2',
              '3': 'Tool 1',
              '4': 'Tool 2',
              '5': 'Tool 3',
              '6': 'Tool 4',
              '7': 'Consumable 1',
              '8': 'Consumable 2',
              '9': 'Consumable 3',
              '10': 'Consumable 4',
              'search_box': 'Search equipment field',
              'remove_filters_button': 'Remove equipment filters button',
              'first_item_in_list': 'First item in equipment list',
            },
            loadouts: [
              DEFAULT_LOADOUT,
            ],
            tooltipItemSlot: (
              'Toggle checkbox to exclude this item when equipping. ' +
              'Shift-Click to equip just this item slot.'
            )
          };
        },
        computed: {
          fileData() {
            const migratedLoadouts = this.loadouts.slice();

            // Add .excludes attribute if needed.
            for (let i = 0; i < migratedLoadouts.length; i++) {
              if (migratedLoadouts[i].excludes === undefined) {
                migratedLoadouts[i].excludes = {};
              }
            }

            return {
              version: 1,
              loadouts: migratedLoadouts,
              settings: this.settings,
            };
          },
          canSaveEditing() {
            const noDuplicateLabel = (
              this.loadouts
                .filter(loadout => loadout.id !== this.editing.loadout.id)
                .filter(
                  loadout => {
                    return (
                      loadout.label.trim().toLowerCase() ===
                      this.editing.loadout.label.trim().toLowerCase()
                    )
                  }
                )
                .length == 0
            );
            const validLabel = (
              !!this.editing.loadout.label &&
              this.editing.loadout.label.trim() !== '' &&
              noDuplicateLabel
            );
            return this.editing.loadout && validLabel;
          },
          sortedLoadouts() {
            function compareByLabel(a, b) {
              if (a.label > b.label) return 1;
              if (b.label > a.label) return -1;
              return 0;
            }
            return this.loadouts.sort(compareByLabel);
          },
        },
        mounted() {
          this.getVersion()((version) => {
            if (version) {
              document.title += ' v' + version;
            }
          });

          this.loading = true;
          eel.load_data_from_last_filepath_in_userdir()((lastFilepath) => {
            if (!!lastFilepath) {
              this.currentFilepath = lastFilepath;
            }
            // this.selectFirstLoadoutForEditing();
            this.loading = false;
          });
          this.setEstimationScreenSizeDefaults();
        },
        methods: {
          getVersion() {
            return eel.get_version();
          },
          resetCurrentFilepath() {
            this.currentFilepath = null;
            eel.forget_last_filepath();
          },
          openGitHubPageInDefaultBrowser() {
            eel.open_git_hub_page_in_default_browser();
          },
          selectFirstLoadoutForEditing() {
            if (this.loadouts.length > 0) {
              this.modifyLoadout(this.loadouts[0]);
            }
          },
          setEstimationScreenSizeDefaults() {
            eel.get_primary_screen_size()((screenSize) => {
              const autoEstimate = (
                !this.currentFilepath &&
                this.estimate.width == 1920 &&
                this.estimate.height == 1080
              );

              this.estimate.width = screenSize[0];
              this.estimate.height = screenSize[1];

              if (autoEstimate) {
                this.editSettings();
                this.setEditingUiCoordinatesForResolution(
                  this.estimate.width, this.estimate.height
                );
                this.saveSettings();
                this.showSnackbarText(
                  'Coordinates have been auto-estimated based on your screen',
                  10000, 'info', 'mdi-information-outline'
                );
              }
            });
          },
          onEstimationDialogConfirmed() {
            if (!this.editing.settings) {
              return;
            }
            this.estimate.dialog = false;
            this.setEditingUiCoordinatesForResolution(
              this.estimate.width, this.estimate.height
            );
            this.showSnackbarText('Coordinates estimated');
          },
          setEditingUiCoordinatesForResolution(width, height) {
            const estimatedUiCoordinates = uiCoordinatesEstimator.estimate(width, height);
            this.editing.settings.uiCoordinates = deepCopy(estimatedUiCoordinates);
          },
          debugUiCoordinatesWithScreenshot(uiCoordinates) {
            eel.put_hunt_in_foreground_and_debug_ui_coordinates_in_screenshot(
              uiCoordinates
            );
          },
          editSettings() {
            this.editing.settings = deepCopy(this.settings);
            this.cancelEditingLoadout();
          },
          cancelSettings() {
            this.editing.settings = null;
          },
          saveSettings() {
            this.settings = deepCopy(this.editing.settings);
            this.editing.settings = deepCopy(this.settings);
            this.showSnackbarText('Settings saved');
          },
          toggleSettings() {
            if (this.editing.settings) {
              this.cancelSettings();
            } else {
              this.editSettings();
            }
          },
          getLoadoutItemSlotPrependIcon(loadout, itemSlotIndex) {
            if (loadout.excludes === undefined || !loadout.excludes[itemSlotIndex]) {
              return 'mdi-checkbox-marked';
            }
            return 'mdi-checkbox-blank-outline';
          },
          onToggleLoadoutItemSlotIndexClicked(event, loadout, itemSlotIndex) {
            // Holding shift key while pressing will equip the item slot.
            if (event.shiftKey) {
              this.equipLoadoutItemSlot(loadout, itemSlotIndex);
              return;
            }

            if (loadout.excludes === undefined) {
              this.$set(loadout, 'excludes', {});
            }
            this.$set(
              loadout.excludes, itemSlotIndex, !loadout.excludes[itemSlotIndex]
            );
          },
          saveToCurrentFile() {
            if (!this.currentFilepath) {
              return;
            }
            eel.save_to_file(this.fileData, this.currentFilepath);
          },
          exportToFile() {
            eel.choose_file_and_export_to(this.fileData)(filepath => {
              this.currentFilepath = filepath;
            });;
          },
          importFromFile() {
            eel.choose_file_and_import_from()(filepath => {
              this.currentFilepath = filepath;
            });
          },
          loadFileData(data) {
            this.loadouts = data.loadouts;
            if (this.editing.loadout) {
              this.cancelEditingLoadout();
            }

            if (data.settings) {
              this.settings = data.settings;
              if (this.editing.settings) {
                this.editSettings();
              }
            }
          },
          equipLoadout(loadout) {
            this.showSnackbarText('Equipping "' + loadout.label + '"...');
            eel.put_hunt_in_foreground_and_equip_loadout(
              loadout, this.settings.uiCoordinates
            );
          },
          equipLoadoutItemSlot(loadout, itemSlotIndex) {
            eel.put_hunt_in_foreground_and_equip_loadout_item_slot(
              loadout, itemSlotIndex, this.settings.uiCoordinates
            );
          },
          showSnackbarText(
            text, timeout = 1000, color = 'success', icon = 'mdi-check'
          ) {
            this.snackbar.text = text;
            this.snackbar.timeout = timeout;
            this.snackbar.color = color;
            this.snackbar.icon = icon;
            this.snackbar.show = true;
          },
          getHighestId() {
            const ids = (
              this.loadouts
                .filter(loadout => loadout.id !== null)
                .map(loadout => loadout.id)
            );
            return Math.max(...ids) || 1;
          },
          getNewId() {
            return this.getHighestId() + 1;
          },
          saveEditingLoadout() {
            if (!this.editing.loadout) {
              return;
            }
            for (let index = 0; index < this.loadouts.length; index++) {
              const loadout = this.loadouts[index];
              if (loadout.id == this.editing.loadout.id) {
                this.loadouts[index] = deepCopy(this.editing.loadout);
                this.showSnackbarText('Loadout saved');
                return;
              }
            }
          },
          cancelEditingLoadout() {
            this.editing.loadout = null;
          },
          labelExistsMoreThan(label, num) {
            return this.loadouts.filter(
              loadout => loadout.label.trim().toLowerCase() == label.trim().toLowerCase()
            ).length > num;
          },
          isExistingLabel(label) {
            return this.labelExistsMoreThan(label, 0);
          },
          addNewLoadout() {
            const newLoadout = deepCopy(NEW_LOADOUT_TEMPLATE);
            while (this.isExistingLabel(newLoadout.label)) {
              newLoadout.label += ' (new)';
            }
            newLoadout.id = this.getNewId();
            this.loadouts.push(newLoadout);
            this.editing.loadout = deepCopy(newLoadout);
          },
          duplicateLoadout(loadout) {
            const duplicatedLoadout = deepCopy(loadout);
            while (this.isExistingLabel(duplicatedLoadout.label)) {
              duplicatedLoadout.label += ' (copy)';
            }
            duplicatedLoadout.id = this.getNewId();

            this.loadouts.push(duplicatedLoadout);
            this.editing.loadout = deepCopy(duplicatedLoadout);
          },
          modifyLoadout(loadout) {
            this.editing.loadout = deepCopy(loadout);
          },
          askDeleteLoadout(loadout) {
            const confirmed = confirm(
              'Do you really want to delete "' + loadout.label + '"?'
            )
            if (confirmed) {
              this.deleteLoadout(loadout);
            }
          },
          deleteLoadout(loadoutToDelete) {
            this.loadouts = this.loadouts.filter(
              loadout => loadout.id !== loadoutToDelete.id
            );
            if (this.editing.loadout) {
              const loadoutIds = this.loadouts.map(loadout => loadout.id);
              if (loadoutIds.indexOf(this.editing.loadout.id) === -1) {
                // Edited loadout has been deleted.
                this.cancelEditingLoadout();
              }
            }
          },
        },
      });

      function feedback(text, timeout = 1000, color = 'success', icon = 'mdi-check') {
        window.app.showSnackbarText(text, timeout, color, icon);
      }
      function loadFileData(data) {
        window.app.loadFileData(data);
      }
      eel.expose(feedback);
      eel.expose(loadFileData);
    </script>
    <style>
      [dbg],
      [dbg--deep],
      [dbg--deep] *,
      .dbg,
      .dbg--deep,
      .dbg--deep * {
        outline: 1px solid red !important;
      }

      .clickable {
        cursor: pointer;
      }

      .muted {
        opacity: 0.5;
      }

      .number-input {
        max-width: 140px;
      }
    </style>
  </body>
</html>
