<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunt: Showdown - Outfitter</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container style="height: 100%">
            <v-row align="center">
              <v-col>
                <h1>Hunt: Showdown Outfitter</h1>
              </v-col>
              <v-spacer></v-spacer>
              <v-col>
                <v-btn text color="success" @click="startNewLoadout()">
                  <v-icon left>mdi-plus-thick</v-icon> Loadout
                </v-btn>
                <v-btn text disabled>
                  <v-icon left>mdi-file-export-outline</v-icon> Export
                </v-btn>
                <v-btn text disabled>
                  <v-icon left>mdi-file-import-outline</v-icon> Import
                </v-btn>
              </v-col>
            </v-row>
            <v-row style="height: 100%">
              <!-- Left column -->
              <v-col cols="5">
                <h2 class="mb-4">
                  Loadouts
                </h2>
                <v-list>
                  <template
                    v-for="(loadout, loadoutIndex) in loadouts"
                  >
                    <v-list-item
                      :key="'loadout-' + loadoutIndex"
                      title="Edit this Loadout"
                      @click="editLoadout(loadout)"
                    >
                      <v-list-item-title>
                        {{ loadout.label }}
                      </v-list-item-title>
                      <div>
                        <div class="d-flex">
                          <v-btn
                            icon
                            color="error"
                            title="Delete this Loadout"
                            @click="askDeleteLoadout(loadout)"
                          >
                            <v-icon>mdi-delete-outline</v-icon>
                          </v-btn>
                        </div>
                      </div>
                    </v-list-item>
                    <v-divider
                      v-if="loadoutIndex < loadouts.length - 1"
                      :key="'divider-' + loadoutIndex"
                    ></v-divider>
                  </template>
                </v-list>
              </v-col>
              <!-- Right column -->
              <v-col style="margin-top: 28px">
                <div class="caption mt-2">Name of Loadout</div>
                <v-row class="mb-5">
                  <v-col>
                    <!-- Label -->
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout.label"
                      placeholder="Name of Loadout"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                </v-row>
                <!-- Weapons -->
                <div class="caption mt-2">Weapons</div>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[1]"
                      :placeholder="itemSlotLabels[1]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[2]"
                      :placeholder="itemSlotLabels[2]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                </v-row>
                <!-- Tools -->
                <div class="caption mt-2">Tools</div>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[3]"
                      :placeholder="itemSlotLabels[3]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[4]"
                      :placeholder="itemSlotLabels[4]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[5]"
                      :placeholder="itemSlotLabels[5]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[6]"
                      :placeholder="itemSlotLabels[6]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                </v-row>
                <!-- Consumables -->
                <div class="caption mt-2">Consumables</div>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[7]"
                      :placeholder="itemSlotLabels[7]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[8]"
                      :placeholder="itemSlotLabels[8]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[9]"
                      :placeholder="itemSlotLabels[9]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[10]"
                      :placeholder="itemSlotLabels[10]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

          </v-container>
        </v-main>
      </v-app>
    </div>
    <script type="text/javascript" src="/eel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script>
      function deepCopy(obj) {
        return JSON.parse(JSON.stringify(obj));
      }

      const EMPTY_LOADOUT = {
        label: "",
        1: "",
        2: "",
        3: "",
        4: "",
        5: "",
        6: "",
        7: "",
        8: "",
        9: "",
        10: ""
      };

      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            editing: {
              loadout: null,
            },
            itemSlotLabels: {
              1: "Weapon 1",
              2: "Weapon 2",
              3: "Tool 1",
              4: "Tool 2",
              5: "Tool 3",
              6: "Tool 4",
              7: "Consumable 1",
              8: "Consumable 2",
              9: "Consumable 3",
              10: "Consumable 4",
            },
            loadouts: [
              {
                label: "Vetterli / Officer",
                1: "Vetterli 71 Karabiner",
                2: "Nagant M1895 Officer",
                3: "Knuckle Knife",
                4: "First Aid Kit",
                5: "Fusees",
                6: "Choke Bombs",
                7: "Vitality Shot",
                8: "Fire Bomb",
                9: "Weak Antidote Shot",
                10: "Dynamite Stick",
              },
              {
                label: 'Sparks / Frag',
                1: "The Reckoning",
                2: "Copperhead",
                3: "The Tanto",
                4: "The Marrow",
                5: "Dusters",
                6: "Choke Bombs",
                7: "Vitality Shot",
                8: "Fire Bomb",
                9: "Weak Antidote Shot",
                10: "Frag Bomb",
              },
              {
                label: 'Base without Weapons',
                1: '',
                2: '',
                3: "Knuckle Knife",
                4: "First Aid Kit",
                5: "Fusees",
                6: "Choke Bombs",
                7: "Vitality Shot",
                8: "Fire Bomb",
                9: "Weak Antidote Shot",
                10: "Dynamite Stick",
              },
            ],
          };
        },
        created() {
          this.startNewLoadout();
        },
        methods: {
          startNewLoadout() {
            this.editLoadout(EMPTY_LOADOUT);
          },
          editLoadout(loadout) {
            this.editing.loadout = deepCopy(loadout);
          },
          askDeleteLoadout(loadout) {
            const confirmed = confirm(
              'Do you really want to delete "' + loadout.label + '"?'
            )
            if (confirmed) {
              this.deleteLoadout(loadout);
            }
          },
          deleteLoadout(loadoutToDelete) {
            this.loadouts = this.loadouts.filter(
              loadout => loadout.label !== loadoutToDelete.label
            );
          },
        },
      });
    </script>
    <style>
      [dbg],
      [dbg--deep],
      [dbg--deep] *,
      .dbg,
      .dbg--deep,
      .dbg--deep * {
        outline: 1px solid red !important;
      }

      .clickable {
        cursor: pointer;
      }

      /* .hoverable:hover {
        background: rgba(0, 0, 0, 0.04);
      } */
    </style>
  </body>
</html>
