<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunt: Showdown - Outfitter</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <v-container class="fill-height">
            <v-row
              justify="center"
              align="center"
              class="mt-4"
            >
              <h1>Hunt: Showdown Outfitter</h1>
              <v-spacer></v-spacer>
              <v-btn text @click="exportToFile()">
                <v-icon left>mdi-file-export-outline</v-icon> Export
              </v-btn>
              <v-btn text @click="importFromFile()">
                <v-icon left>mdi-file-import-outline</v-icon> Import
              </v-btn>
            </v-row>
            <v-row class="fill-height">
              <!-- Left column -->
              <v-col cols="6" md="5">
                <v-row align="center" class="mt-3 mb-4">
                  <h2>Loadouts</h2>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="addNewLoadout()">
                    <v-icon left>mdi-plus-thick</v-icon> Loadout
                  </v-btn>
                </v-row>
                <v-list>
                  <template
                    v-for="(loadout, loadoutIndex) in sortedLoadouts"
                  >
                    <v-list-item
                      :key="'loadout-' + loadoutIndex"
                      title="Edit this Loadout"
                      :class="{'primary--text': editing.loadout && editing.loadout.id == loadout.id}"
                      @click="modifyLoadout(loadout)"
                    >
                    <div class="d-flex">
                      <v-btn
                        icon
                        color="primary"
                        class="mr-3"
                        title="Equip this Loadout"
                        @click.stop="equipLoadout(loadout)"
                      >
                        <v-icon>mdi-play</v-icon>
                      </v-btn>
                    </div>
                      <v-list-item-title>
                        {{ loadout.label }}
                      </v-list-item-title>
                      <div class="d-flex">
                        <v-btn
                          icon
                          title="Duplicate this Loadout"
                          @click.stop="duplicateLoadout(loadout)"
                        >
                          <v-icon>mdi-content-copy</v-icon>
                        </v-btn>
                        <v-btn
                          icon
                          color="error"
                          title="Delete this Loadout"
                          @click.stop="askDeleteLoadout(loadout)"
                        >
                          <v-icon>mdi-delete-outline</v-icon>
                        </v-btn>
                      </div>
                    </v-list-item>
                    <v-divider
                      v-if="loadoutIndex < loadouts.length - 1"
                      :key="'divider-' + loadoutIndex"
                    ></v-divider>
                  </template>
                </v-list>
              </v-col>
              <!-- Right column -->
              <v-col v-if="editing.loadout" class="mt-3">
                <div class="title mt-3 mb-3">Name of Loadout</div>
                <v-row class="mb-5">
                  <v-col>
                    <!-- Label -->
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout.label"
                      placeholder="Name of Loadout"
                      hide-details
                      clearable
                      outlined
                      class="pt-0"
                    />
            mb-2       </v-col>
                </v-row>
                <!-- Weapons -->
                <div class="title mt-3 mb-3">Weapons</div>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[1]"
                      :label="itemSlotLabels[1]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                </v-row>
                <v-row dense>
                  <v-col>
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[2]"
                      :label="itemSlotLabels[2]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                </v-row>
                <!-- Tools -->
                <div class="title mt-3 mb-3">Tools</div>
                <v-row dense>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[3]"
                      :label="itemSlotLabels[3]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[4]"
                      :label="itemSlotLabels[4]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[5]"
                      :label="itemSlotLabels[5]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[6]"
                      :label="itemSlotLabels[6]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                </v-row>
                <!-- Consumables -->
                <div class="title mt-3 mb-3">Consumables</div>
                <v-row dense>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[7]"
                      :label="itemSlotLabels[7]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[8]"
                      :label="itemSlotLabels[8]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[9]"
                      :label="itemSlotLabels[9]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                  <v-col cols="12" md="6" lg="3">
                    <v-text-field
                      v-if="editing.loadout"
                      v-model="editing.loadout[10]"
                      :label="itemSlotLabels[10]"
                      hide-details
                      clearable
                      outlined
                      class="pt-0 mb-2"
                    />
                  </v-col>
                </v-row>
                <v-row class="pt-4">
                  <div class="ml-3 mr-auto">
                    <v-btn text color="primary" @click="equipLoadout(editing.loadout)">
                      <v-icon class="mr-2">mdi-play</v-icon> Equip this
                    </v-btn>
                  </div>
                  <div class="mr-3">
                    <v-btn text color="secondary" @click="cancelEditing()">Cancel</v-btn>
                    <v-btn
                      color="primary"
                      :disabled="!canSaveEditing"
                      @click="saveEditing()"
                    >
                      Save
                    </v-btn>
                  </div>
                </v-row>
              </v-col>
            </v-row>
            <v-snackbar
              v-model="snackbar.show"
              top
              :timeout="snackbar.timeout"
              :color="snackbar.color"
            >
              <v-icon class="mr-2">{{ snackbar.icon }}</v-icon>
              {{ snackbar.text }}

              <template v-slot:action="{ attrs }">
                <v-btn
                  color="white"
                  text
                  v-bind="attrs"
                  @click="snackbar.show = false"
                >
                  Close
                </v-btn>
              </template>
            </v-snackbar>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script type="text/javascript" src="/eel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.5.8/dist/vuetify.min.js"></script>
    <script>
      function deepCopy(obj) {
        return JSON.parse(JSON.stringify(obj));
      }

      const NEW_LOADOUT_TEMPLATE = {
        id: null,
        label: "A new loadout",
        1: "",
        2: "",
        3: "",
        4: "",
        5: "",
        6: "",
        7: "",
        8: "",
        9: "",
        10: ""
      };

      window.app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            snackbar: {
              show: false,
              text: '',
              timeout: 100,
              color: 'success',
            },
            editing: {
              loadout: null,
            },
            itemSlotLabels: {
              1: "Weapon 1",
              2: "Weapon 2",
              3: "Tool 1",
              4: "Tool 2",
              5: "Tool 3",
              6: "Tool 4",
              7: "Consumable 1",
              8: "Consumable 2",
              9: "Consumable 3",
              10: "Consumable 4",
            },
            loadouts: [],
          };
        },
        computed: {
          fileData() {
            return {
              version: 1,
              loadouts: this.loadouts,
            };
          },
          canSaveEditing() {
            const noDuplicateLabel = (
              this.loadouts
                .filter(loadout => loadout.id !== this.editing.loadout.id)
                .filter(
                  loadout => {
                    return (
                      loadout.label.trim().toLowerCase() ===
                      this.editing.loadout.label.trim().toLowerCase()
                    )
                  }
                )
                .length == 0
            );
            const validLabel = (
              this.editing.loadout.label.trim() !== '' && noDuplicateLabel
            );
            return this.editing.loadout && validLabel;
          },
          sortedLoadouts() {
            function compareByLabel(a, b) {
              if (a.label > b.label) return 1;
              if (b.label > a.label) return -1;
              return 0;
            }
            return this.loadouts.sort(compareByLabel);
          },
        },
        mounted() {
          eel.load_data_from_last_filepath_in_userdir();
        },
        methods: {
          exportToFile() {
            eel.choose_file_and_export_to(this.fileData);
          },
          importFromFile() {
            eel.choose_file_and_import_from();
          },
          loadFileData(data) {
            this.loadouts = data.loadouts;
          },
          equipLoadout(loadout) {
            this.showSnackbarText('Equipping "' + loadout.label + '"...');
            eel.put_hunt_in_foreground_and_equip_loadout(loadout);
          },
          showSnackbarText(
            text, timeout = 1000, color = 'success', icon = 'mdi-check'
          ) {
            this.snackbar.text = text;
            this.snackbar.timeout = timeout;
            this.snackbar.color = color;
            this.snackbar.icon = icon;
            this.snackbar.show = true;
          },
          getHighestId() {
            const ids = (
              this.loadouts
                .filter(loadout => loadout.id !== null)
                .map(loadout => loadout.id)
            );
            return Math.max(...ids) || 1;
          },
          getNewId() {
            return this.getHighestId() + 1;
          },
          saveEditing() {
            if (!this.editing.loadout) {
              return;
            }
            for (let index = 0; index < this.loadouts.length; index++) {
              const loadout = this.loadouts[index];
              if (loadout.id == this.editing.loadout.id) {
                this.loadouts[index] = deepCopy(this.editing.loadout);
                this.showSnackbarText('Loadout saved');
                return;
              }
            }
          },
          cancelEditing() {
            this.editing.loadout = null;
          },
          labelExistsMoreThan(label, num) {
            return this.loadouts.filter(
              loadout => loadout.label.trim().toLowerCase() == label.trim().toLowerCase()
            ).length > num;
          },
          isExistingLabel(label) {
            return this.labelExistsMoreThan(label, 0);
          },
          addNewLoadout() {
            const newLoadout = deepCopy(NEW_LOADOUT_TEMPLATE);
            while (this.isExistingLabel(newLoadout.label)) {
              newLoadout.label += ' (new)';
            }
            newLoadout.id = this.getNewId();
            this.loadouts.push(newLoadout);
            this.editing.loadout = deepCopy(newLoadout);
          },
          duplicateLoadout(loadout) {
            const duplicatedLoadout = deepCopy(loadout);
            while (this.isExistingLabel(duplicatedLoadout.label)) {
              duplicatedLoadout.label += ' (copy)';
            }
            duplicatedLoadout.id = this.getNewId();

            this.loadouts.push(duplicatedLoadout);
            this.editing.loadout = deepCopy(duplicatedLoadout);
          },
          modifyLoadout(loadout) {
            this.editing.loadout = deepCopy(loadout);
          },
          askDeleteLoadout(loadout) {
            const confirmed = confirm(
              'Do you really want to delete "' + loadout.label + '"?'
            )
            if (confirmed) {
              this.deleteLoadout(loadout);
            }
          },
          deleteLoadout(loadoutToDelete) {
            this.loadouts = this.loadouts.filter(
              loadout => loadout.id !== loadoutToDelete.id
            );
            if (this.editing.loadout) {
              const loadoutIds = this.loadouts.map(loadout => loadout.id);
              if (loadoutIds.indexOf(this.editing.loadout.id) === -1) {
                // Edited loadout has been deleted.
                this.cancelEditing();
              }
            }
          },
        },
      });

      function feedback(text, timeout = 1000, color = 'success', icon = 'mdi-check') {
        window.app.showSnackbarText(text, timeout, color, icon);
      }
      function loadFileData(data) {
        window.app.loadFileData(data);
      }
      eel.expose(feedback);
      eel.expose(loadFileData);
    </script>
    <style>
      [dbg],
      [dbg--deep],
      [dbg--deep] *,
      .dbg,
      .dbg--deep,
      .dbg--deep * {
        outline: 1px solid red !important;
      }

      .clickable {
        cursor: pointer;
      }
    </style>
  </body>
</html>
